@tailwind base;
@tailwind components;
@tailwind utilities;
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: black;
    color: #fff;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer { 
    background: linear-gradient(rgba(15, 13, 13, 0.85), rgba(15, 13, 13, 0.85)),
    url('../public/image/moviesCollection2.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    
  }

